body {
  font-family: sans-serif;
  color: #333;
}

.DraftEditor-editorContainer [data-contents='true'] > div {
  margin: 10px 0;
}

.DraftEditor-editorContainer [data-contents='true'] > figure {
  margin: 10px 0;
}

.DraftEditor-editorContainer [data-contents='true'] > figure > hr {
  margin: 20px 0;
  border: none;
  height: 2px;
  background-color: #ddd;
}

.DraftEditor-editorContainer [data-contents='true'] > pre > pre {
  padding: 10px;
  background-color: #eee;
}

.DraftEditor-editorContainer [data-contents='true'] > blockquote {
  margin: 10px 0;
  padding: 5px 10px;
  border-left: solid 4px #eee;
}

.DraftEditor-editorContainer [data-contents='true'] code {
  padding: 0 4px;
  border-radius: 4px;
  background-color: #eee;
}

.DraftEditor-editorContainer [data-contents='true'] a {
  color: #3366d6;
  text-decoration: none;
}

.DraftEditor-editorContainer [data-contents='true'] a:hover {
  text-decoration: underline;
}
